:root {
  --overall-text: "Fira Sans Extra Condensed", sans-serif;
  --text-type-light: 300;
  --text-type-regular: 400;
  --text-type-medium: 500;
  --text-type-semibold: 600;
  --text-type-bold: 700;
  --text-type-extrabold: 800;
  --text-type-black: 900;
  --text-color: hsl(0, 0%, 12%);
  --background-color: hsl(58, 100%, 95%);
  --border-color: hsl(0, 0%, 67%);
}
